---
title: false
styles: true
---
// Background Colors
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #18453B !default;
$bodyColour: #384743 !default;
$linkColour: #18453B !default;
$hoverColour: #0db14b !default;
$focusColour: #fa407a !default;
$captionColour: #97a2a2 !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: 'Montserrat, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import "alembic";
